.header {
  background-color: maroon; /* Maroon background */
  padding: 30px 70px;
  display: flex;
  justify-content: center; /* Center the buttons */
  align-items: center;
}

.nav-button {
  background-color: maroon;
  color: white;
  border: 2px solid maroon;
  padding: 10px 20px;
  margin: 0 50px; /* Space between buttons */
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
  background-color: maroon;
  color: white;
}