.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .profile-details {
    flex: 1;
    text-align: left;
  }
  
  .profile-picture {
    border: 5px solid #800000 ;
    width: 400px;
    height: 600px; 
    object-fit: cover;
    margin-left: 20px;
    overflow: hidden;
    margin: 0px 0px 0px -200px
  }