@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap'); 


  .Profile-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    justify-content: left; 
    align-items: left; 
    padding: 20px;
    height: 100vh; 
    background: linear-gradient(to bottom, #ca7a7a, #f8f8f8); 
    font-family: 'Roboto', sans-serif;
  }
  .profile-title {
    font-size: 4rem; 
    margin-bottom: 30px; 
    color: black; 
  }
  
  .Profile-content {
    display: flex;
    justify-content: space-between; /* Space between details and picture */
    align-items: center;
    width: 80%; /* Make the profile content area 80% of the container's width */
  }
  
  
  .Profile-details {
    flex: 2;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    padding-right: 20px; 

  }
  
  .Profile-picture {
    flex: 1; /* Takes up less space */
    display: flex;
    justify-content: right;
    border: 5px solid #800000 ;
    width: 400px;
    height: 600px; 
   
    object-fit: cover;
    margin-left: 20px;
    overflow: hidden;
    margin: 0px 0px 10px -200px;

  }


