.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }
  
  .profile-details {
    flex: 1;
    text-align: left;
  }
  
  .profile-picture {
    width: 200px;
    height: 300px; /* Adjust the height as needed */
    object-fit: cover;
    margin-left: 20px;
  }